# Configuration file

item {

    feature {
        # This allows you to disable Florbs entirely. It also means that you actively dislike fun things.
        B:Florb.Enable=true
    }

}


whitelist {
    B:adamantine.molten=true
    B:alduorite.molten=true
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:amordrine.molten=true
    B:angmallen.molten=true
    B:ardite.molten=true
    B:astral.silver.molten=true
    B:atlarus.molten=true
    B:bacterialsludge=true
    B:biofuel=true
    B:black.steel.molten=true
    B:blood=true
    B:brass.molten=true
    B:bronze.molten=true
    B:carmot.molten=true
    B:celenegil.molten=true
    B:cement.liquid=true
    B:ceruclase.molten=true
    B:chocolatemilk=true
    B:coal=true
    B:cobalt.molten=true
    B:copper.molten=true
    B:cryotheum=true
    B:cyanite=true
    B:damascus.steel.molten=true
    B:deep.iron.molten=true
    B:desichalkos.molten=true
    B:electrum.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:endergoo=true
    B:etchacid=true
    B:eximite.molten=true
    B:fairy.molten=true
    B:fire_water=true
    B:fluiddeath=true
    B:fluidpure=true
    B:fluxgoo=true
    B:fuel=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:haderoth.molten=true
    B:hell_blood=true
    B:hepatizon.molten=true
    B:honey=true
    B:hootch=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2constructionfoam=true
    B:ic2coolant=true
    B:ic2distilledwater=true
    B:ic2hotcoolant=true
    B:ic2pahoehoelava=true
    B:ic2steam=true
    B:ic2superheatedsteam=true
    B:ic2uumatter=true
    B:ignatius.molten=true
    B:infuscolium.molten=true
    B:inolashite.molten=true
    B:invar.molten=true
    B:iron.molten=true
    B:kalendrite.molten=true
    B:lava=true
    B:lead.molten=true
    B:lemurite.molten=true
    B:"life essence"=true
    B:limestone.molten=true
    B:mana=true
    B:manganese.molten=true
    B:manyullyn.molten=true
    B:meat=true
    B:meutoite.molten=true
    B:midasium.molten=true
    B:milk=true
    B:mithril.molten=true
    B:mobessence=true
    B:"molten conductive redmetal"=true
    B:"molten redstone"=true
    B:molten.adamantine=true
    B:molten.alduorite=true
    B:molten.amordrine=true
    B:molten.angmallen=true
    B:molten.astral.silver=true
    B:molten.atlarus=true
    B:molten.black.steel=true
    B:molten.brass=true
    B:molten.carmot=true
    B:molten.celenegil=true
    B:molten.ceruclase=true
    B:molten.damascus.steel=true
    B:molten.deep.iron=true
    B:molten.desichalkos=true
    B:molten.eximite=true
    B:molten.fairy=true
    B:molten.haderoth=true
    B:molten.hepatizon=true
    B:molten.ignatius=true
    B:molten.infuscolium=true
    B:molten.inolashite=true
    B:molten.kalendrite=true
    B:molten.lemurite=true
    B:molten.manganese=true
    B:molten.meutoite=true
    B:molten.midasium=true
    B:molten.mithril=true
    B:molten.orichalcum=true
    B:molten.osmium=true
    B:molten.oureclase=true
    B:molten.platinum=true
    B:molten.pokefennium=true
    B:molten.prometheum=true
    B:molten.quicksilver=true
    B:molten.refined.glowstone=true
    B:molten.rubracium=true
    B:molten.sanguinite=true
    B:molten.shadow.iron=true
    B:molten.shadow.steel=true
    B:molten.tartarite=true
    B:molten.vulcanite=true
    B:molten.vyroxeres=true
    B:molten.zinc=true
    B:moltenlapis=true
    B:moltennincodium=true
    B:mushroomsoup=true
    B:myst.ink.black=true
    B:nickel.molten=true
    B:nutrient_distillation=true
    B:obsidian.molten=true
    B:oil=true
    B:orichalcum.molten=true
    B:osmium.molten=true
    B:oureclase.molten=true
    B:pigiron.molten=true
    B:pinkslime=true
    B:platinum.molten=true
    B:poison=true
    B:pokefennium.molten=true
    B:prometheum.molten=true
    B:purelava=true
    B:pyrotheum=true
    B:quicksilver.molten=true
    B:redstone=true
    B:refined.glowstone.molten=true
    B:rocket_fuel=true
    B:rubracium.molten=true
    B:sanguinite.molten=true
    B:sewage=true
    B:shadow.iron.molten=true
    B:shadow.steel.molten=true
    B:silver.molten=true
    B:slime.blue=true
    B:sludge=true
    B:spring_water=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:tartarite.molten=true
    B:tin.molten=true
    B:vulcanite.molten=true
    B:vyroxeres.molten=true
    B:water=true
    B:"witchery:fluidspirit"=true
    B:"witchery:hollowtears"=true
    B:yellorium=true
    B:zinc.molten=true
}


