# Configuration file

general {
    B:AllowSpawnerBoxPickup=false
    B:BlacklistIC2Power=false
    B:BlacklistRFPower=false
    I:ClientUpdateDelay=10
    B:ControlCircuitOreDict=true
    I:CopperPerChunk=0
    B:CreativeOverrideElectricChest=true
    B:DynamicTankEasterEgg=false
    D:EUToJoules=0.1
    B:EnableSounds=true
    B:EnableWorldRegeneration=false
    D:EnergyPerRedstone=10000.0
    S:EnergyType=RF
    B:FancyUniversalCableRender=true
    B:Holidays=true

    # THIS DETERMINES ELECTROLYTIC SEPARATOR USAGE
    D:HydrogenEnergyDensity=112.5
    D:JoulesToEU=10.0
    D:JoulesToMJ=25.0
    D:JoulesToRF=2.5
    B:LogPackets=false
    D:MJToJoules=0.04
    B:MachineEffects=true
    I:ObsidianTNTBlastRadius=12
    I:ObsidianTNTDelay=100
    I:OsmiumPerChunk=0
    D:RFToJoules=0.4

    # Millibuckets of water turned into brine by the plant per tick
    D:SalinationPlantSpeed=40.0
    I:SaltPerChunk=2
    D:SoundVolume=1.0
    I:TinPerChunk=0
    B:UpdateNotifications=true
    I:UpgradeModifier=10
    I:VoicePort=36123
    B:VoiceServerEnabled=false
    I:WorldRegenVersion=0
}


generation {
    D:AdvancedSolarGeneration=125.0
    D:BioGeneration=200.0
    D:HeatGeneration=75.0
    D:HeatGenerationLava=5.0
    D:HeatGenerationNether=100.0
    D:SolarGeneration=30.0
    D:WindGenerationMax=144.0
    I:WindGenerationMaxY=255
    D:WindGenerationMin=18.0
    I:WindGenerationMinY=24
}


tools {

    general {
        D:MobArmorSpawnRate=0.03
    }

    tool-balance {

        obsidian {

            regular {
                I:damage=3
                D:efficiency=2.0
                I:enchantability=5
                I:harvestLevel=2
                I:maxUses=1000
            }

            paxel {
                I:damage=3
                D:efficiency=2.0
                I:enchantability=5
                I:harvestLevel=2
                I:maxUses=1000
            }

        }

        lapis {

            regular {
                I:damage=1
                D:efficiency=5.0
                I:enchantability=40
                I:harvestLevel=0
                I:maxUses=75
            }

            paxel {
                I:damage=1
                D:efficiency=5.0
                I:enchantability=40
                I:harvestLevel=0
                I:maxUses=75
            }

        }

        osmium {

            regular {
                I:damage=3
                D:efficiency=6.0
                I:enchantability=15
                I:harvestLevel=2
                I:maxUses=400
            }

            paxel {
                I:damage=3
                D:efficiency=6.0
                I:enchantability=15
                I:harvestLevel=2
                I:maxUses=400
            }

        }

        bronze {

            regular {
                I:damage=4
                D:efficiency=4.5
                I:enchantability=9
                I:harvestLevel=2
                I:maxUses=300
            }

            paxel {
                I:damage=4
                D:efficiency=4.5
                I:enchantability=9
                I:harvestLevel=2
                I:maxUses=300
            }

        }

        glowstone {

            regular {
                I:damage=3
                D:efficiency=6.0
                I:enchantability=25
                I:harvestLevel=2
                I:maxUses=400
            }

            paxel {
                I:damage=3
                D:efficiency=6.0
                I:enchantability=25
                I:harvestLevel=2
                I:maxUses=400
            }

        }

        steel {

            regular {
                I:damage=5
                D:efficiency=7.0
                I:enchantability=18
                I:harvestLevel=3
                I:maxUses=800
            }

            paxel {
                I:damage=5
                D:efficiency=7.0
                I:enchantability=18
                I:harvestLevel=3
                I:maxUses=800
            }

        }

    }

    armor-balance {

        obsidian {
            I:durability=50
            I:enchantability=5

            protection {
                I:chest=8
                I:feet=3
                I:head=3
                I:legs=6
            }

        }

        lapis {
            I:durability=10
            I:enchantability=40

            protection {
                I:chest=4
                I:feet=2
                I:head=2
                I:legs=3
            }

        }

        osmium {
            I:durability=18
            I:enchantability=15

            protection {
                I:chest=6
                I:feet=3
                I:head=2
                I:legs=5
            }

        }

        bronze {
            I:durability=13
            I:enchantability=9

            protection {
                I:chest=4
                I:feet=3
                I:head=2
                I:legs=3
            }

        }

        glowstone {
            I:durability=18
            I:enchantability=25

            protection {
                I:chest=6
                I:feet=3
                I:head=2
                I:legs=5
            }

        }

        steel {
            I:durability=22
            I:enchantability=18

            protection {
                I:chest=6
                I:feet=3
                I:head=3
                I:legs=5
            }

        }

    }

}


usage {
    D:ChemicalCrystallizerUsage=800.0
    D:ChemicalDissolutionChamberUsage=475.0
    D:ChemicalInfuserUsage=250.0
    D:ChemicalInjectionChamberUsage=550.0
    D:ChemicalWasherUsage=250.0
    D:CombinerUsage=75.0
    D:CrusherUsage=30.0
    D:DigitalMinerUsage=750.0
    D:ElectricPumpUsage=100.0
    D:EnergizedSmelterUsage=18.0
    D:EnrichmentChamberUsage=45.0
    D:FactoryUsage=185.0
    D:FluidicPlenisherUsage=100.0
    D:MetallurgicInfuserUsage=60.0
    D:OsmiumCompressorUsage=100.0
    D:OxidationChamberUsage=220.0
    D:PrecisionSawmillUsage=9.0
    D:PressurizedReactionBaseUsage=5.0
    D:PurificationChamberUsage=200.0
    D:RotaryCondensentratorUsage=100.0
    D:SeismicVibratorUsage=50.0
}


