# Configuration file

##########################################################################################################
# HarvestLevelNames
#--------------------------------------------------------------------------------------------------------#
# Use materialnames to set the name of a harvest level. Check the MaterialDefaults file for the material names.
# For Example: 'Level0=wood' would change the first harvest level to wood from stone.
##########################################################################################################

HarvestLevelNames {
    S:Level0=Stone
    S:Level1=Copper
    S:Level2=Iron
    S:Level3=Steel
    S:Level4=Prometheum
    S:Level5=Mithril
    S:Level6=Adamantine
    S:Level7=Shadow Steel
    S:Level8=Cobalt
    S:Level9=Sanguinite
    S:Level10=Titanium
    S:Level11=Titanium+
}


